## If you need nodejs for running latest github actions pipeline, you can get nodejs for RISC-V here: https://github.com/alitariq4589/nodejs-riscv/releases ##

name: Build RISC-V runner

on:
  push:
    branches:
      - main_riscv
    tags:
      - '*_riscv'  # Tags patched for RISC-V
  workflow_dispatch:

jobs:
  build:
    runs-on: RISCV64
    
    outputs:
      version-number: ${{ steps.check-version.outputs.runner_version }}

    steps:
    - name: Checkout repository
      uses: actions/checkout@v5
    
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y liblttng-ust-dev libkrb5-dev zlib1g-dev libicu-dev libssl-dev libcurl4-openssl-dev libelf-dev libunwind-dev pkg-config wget tar
    
    - name: Download .NET and related packages
      run: |
        cd $HOME
        # Fetching Nuget packages
        mkdir -p packages
        cd packages

        wget -q https://github.com/alitariq4589/dotnet-riscv/releases/download/v8.0.101/Microsoft.AspNetCore.App.Runtime.linux-riscv64.8.0.1.nupkg
        wget -q https://github.com/alitariq4589/dotnet-riscv/releases/download/v8.0.101/Microsoft.AspNetCore.App.Runtime.linux-riscv64.8.0.1.symbols.nupkg
        wget -q https://github.com/alitariq4589/dotnet-riscv/releases/download/v8.0.101/Microsoft.DotNet.Common.ItemTemplates.8.0.101.nupkg
        wget -q https://github.com/alitariq4589/dotnet-riscv/releases/download/v8.0.101/Microsoft.DotNet.Common.ItemTemplates.8.0.101.symbols.nupkg
        wget -q https://github.com/alitariq4589/dotnet-riscv/releases/download/v8.0.101/Microsoft.DotNet.Common.ProjectTemplates.8.0.8.0.101.nupkg
        wget -q https://github.com/alitariq4589/dotnet-riscv/releases/download/v8.0.101/Microsoft.DotNet.Common.ProjectTemplates.8.0.8.0.101.symbols.nupkg
        wget -q https://github.com/alitariq4589/dotnet-riscv/releases/download/v8.0.101/Microsoft.DotNet.Web.Client.ItemTemplates.8.0.1.nupkg
        wget -q https://github.com/alitariq4589/dotnet-riscv/releases/download/v8.0.101/Microsoft.DotNet.Web.ItemTemplates.8.0.8.0.1.nupkg
        wget -q https://github.com/alitariq4589/dotnet-riscv/releases/download/v8.0.101/Microsoft.DotNet.Web.ProjectTemplates.8.0.8.0.1.nupkg
        wget -q https://github.com/alitariq4589/dotnet-riscv/releases/download/v8.0.101/Microsoft.NETCore.App.Host.linux-riscv64.8.0.1.nupkg
        wget -q https://github.com/alitariq4589/dotnet-riscv/releases/download/v8.0.101/Microsoft.NETCore.App.Runtime.linux-riscv64.8.0.1.nupkg
        wget -q https://github.com/alitariq4589/dotnet-riscv/releases/download/v8.0.101/Microsoft.NETCore.App.Runtime.linux-riscv64.8.0.1.symbols.nupkg

    - name: Prepare .NET SDK
      run: |
        wget -q -O dotnet.tar.gz https://github.com/alitariq4589/dotnet-riscv/releases/download/v8.0.101/dotnet-sdk-8.0.101-linux-riscv64.tar.gz
        mkdir -p _dotnetsdk/8.0.101
        tar -xf dotnet.tar.gz -C _dotnetsdk/8.0.101
        echo "$PWD/_dotnetsdk/8.0.101" >> $GITHUB_PATH
        echo "DOTNET_ROOT=$PWD/_dotnetsdk/8.0.101" >> $GITHUB_ENV

    - name: Restore and Build
      run: |
        cd src
        ./dev.sh restore --source $GITHUB_WORKSPACE/packages --source https://api.nuget.org/v3/index.json
        ./dev.sh layout Release linux-riscv64

    - name: Package
      run: |
        cd src && ./dev.sh package Release linux-riscv64
    
    - name: Check Version
      id: check-version
      run: |
        RUNNER_VERSION=$(./_layout/bin/Runner.Listener --version)
        echo "The Github runner version is $RUNNER_VERSION"
        echo "runner_version=$RUNNER_VERSION" >> $GITHUB_OUTPUT

    - name: Upload
      uses: actions/upload-artifact@v4
      with:
        name: actions-runner-linux-riscv64-${{ steps.check-version.outputs.runner_version }}
        path: "_package/actions-runner-linux-riscv64-*.tar.gz"

  release:
    needs: build
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest

    permissions:
      contents: write # Important: This permission is required to create a release as by default actions dont have the permissions

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: actions-runner-linux-riscv64-${{ needs.build.outputs.version-number }}
          path: _package

      - name: Get filename of the package
        id: get_filename
        run: |
          filename=$(basename $(ls -1 _package/actions-runner-linux-riscv64-*.tar.gz))
          echo "filename=$filename" >> $GITHUB_OUTPUT

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: false
          prerelease: false

      - name: Upload Release Asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: "_package/${{ steps.get_filename.outputs.filename }}"
          asset_name: ${{ steps.get_filename.outputs.filename }}
          asset_content_type: application/gzip